Module_2/module2_taxi_color_year_month_row_count.yaml
id: module2_taxi_color_year_month_row_count
namespace: zoomcamp

inputs:
  - id: taxi
    type: SELECT
    values: [yellow, green]
    defaults: yellow

  - id: year
    type: SELECT
    values: ["2019", "2020", "2021"]
    defaults: "2019"

  - id: month
    type: SELECT
    displayName: Select month (Leave empty for full year)
    values: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
    required: false

tasks:
  - id: check_mode
    type: io.kestra.plugin.core.flow.If
    condition: "{{ inputs.month }}"
    then:
      - id: single_month_count
        type: io.kestra.plugin.core.flow.Subflow
        flowId: row_counter_worker
        namespace: zoomcamp
        inputs:
          taxi: "{{ inputs.taxi }}"
          year: "{{ inputs.year }}"
          month: "{{ inputs.month }}"
        wait: true
    else:
      - id: full_year_loop
        type: io.kestra.plugin.core.flow.ForEach
        values: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
        tasks:
          - id: month_subflow
            type: io.kestra.plugin.core.flow.Subflow
            flowId: row_counter_worker
            namespace: zoomcamp
            inputs:
              taxi: "{{ inputs.taxi }}"
              year: "{{ inputs.year }}"
              month: "{{ taskrun.value }}"
            wait: true

  - id: calculate_total
    type: io.kestra.plugin.scripts.python.Script
    containerImage: python:3.11-slim
    env:
      SINGLE_COUNT: "{{ outputs.single_month_count.outputs.line_count ?? '' }}"
      LOOP_DATA: "{{ outputs.month_subflow | json ?? '{}' }}"
      TAXI_TYPE: "{{ inputs.taxi }}"
      YEAR: "{{ inputs.year }}"
    script: |
      import os
      import json

      # We retrieve the data strictly from ENV to avoid Pebble parsing errors
      single_count = os.getenv("SINGLE_COUNT")
      loop_json = os.getenv("LOOP_DATA")
      taxi = os.getenv("TAXI_TYPE")
      year = os.getenv("YEAR")

      print("-" * 30)
      # Check if the single_count string is not empty and not the literal string "null"
      if single_count and single_count != "" and single_count != "null":
          print(f"REPORT: {taxi.upper()} TAXI")
          print(f"PERIOD: {year} (Single Month Selection)")
          print(f"TOTAL ROWS: {single_count}")
      else:
          try:
              data = json.loads(loop_json)
              # Only sum if we actually have output data from the loop
              if data:
                  total = sum(int(v['outputs']['line_count']) for v in data.values() if 'outputs' in v and v['outputs'].get('line_count'))
                  print(f"REPORT: {taxi.upper()} TAXI")
                  print(f"PERIOD: Full Year {year}")
                  print(f"TOTAL ROWS: {total}")
              else:
                  print("No loop data found.")
          except Exception as e:
              print(f"Processing error: {e}")
      print("-" * 30)