Module_2/module2_row_count.yaml
id: row_counter_worker
namespace: zoomcamp

inputs:
  - id: taxi
    type: STRING
  - id: year
    type: STRING
  - id: month
    type: STRING

tasks:
  - id: download_and_count
    type: io.kestra.plugin.scripts.shell.Commands
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    commands:
      # Stream download -> Unzip -> Skip header -> Count lines
      - wget -qO- https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{{inputs.taxi}}/{{inputs.taxi}}_tripdata_{{inputs.year}}-{{inputs.month}}.csv.gz | gunzip | tail -n +2 | wc -l > count.txt
    outputFiles:
      - count.txt

outputs:
  - id: line_count
    type: STRING
    value: "{{ read(outputs.download_and_count.outputFiles['count.txt']) | trim }}"